<div class="breadcrumbs">
  <li>Activities</li>
</div>

<h2>Activities &amp; Quickbuilds</h2>

<lux-table
  select="
    ActivityID as ID,
    ifnull(ActivityName_en_US, description) as Name"
  from="
    Activities a
    left join
      (select
        objectTemplate,
        case i = a
          when 1 then i
          else rtrim(substr(i, 0, instr(i, ltrim(i, a))), '- ')
        end description
      from (
        select
          objectTemplate,
          min(description) as i,
          max(description) as a
        from ActivityRewards
        group by objectTemplate
      )
    ) ar on a.ActivityID = ar.objectTemplate
    "
  order-by="ID" #table>
  <tr *ngFor="let row of table.rows">
    <td>{{row.ID}}</td>
    <td><a routerLink="./{{row.ID}}">{{row.Name | default:"[unnamed]"}}</a></td>
  </tr>
</lux-table>
