<ul class="breadcrumbs">
  <li><a routerLink="/missions">Missions</a></li>
  <li><a *ngIf="$defined | async; let d" routerLink="/missions/type/{{d.type}}">{{d.type}}</a></li>
  <li *ngIf="$defined | async; let d">{{d.subtype}}</li>
</ul>

<section *ngIf="$defined | async; let d">
  <app-group-icon [name]="d.type"></app-group-icon>
  <h2>Missions <small>{{d.type}} - {{d.subtype}}</small></h2>

  <lux-mission-list [where]="'defined_type = \''+d.type+'\' and defined_subtype = \''+d.subtype+'\''"></lux-mission-list>
</section>
