<ul class="breadcrumbs">
  <li><a routerLink="/objects">Objects</a></li>
  <!--<li><a routerLink="/objects/types">Types</a></li>-->
  <li>{{type}}</li>
</ul>

<h2>Objects <small>Type: "{{type}}"</small></h2>

<lux-table
  select="id as ID, name as Name, name_en_US as 'Localized Name'"
  from="Objects"
  where="type = '{{type}}'"
  order-by="ID"
  [limit]="100"
  [page]="page" #table>
  <tr *ngFor="let row of table.rows">
    <td>{{row.ID}}</td>
    <td><a routerLink="/objects/{{row.ID}}">{{row.Name}}</a></td>
    <td>{{row["Localized Name"]}}</td>
  </tr>
</lux-table>
